Sevak_doc/test data_Sevak/employee_database.json
[{"id":"f32a8adb.740038","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dff771dd.b8f4e","type":"http in","z":"f32a8adb.740038","name":"","url":"/sevak","method":"get","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["ba6dbb87.c4e068"]]},{"id":"a6255189.7696c","type":"http in","z":"f32a8adb.740038","name":"","url":"/sevak","method":"post","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["b8d7ab49.85c6e8","7407a966.6b9ed8","10574dfc.c3abe2"]]},{"id":"ba6dbb87.c4e068","type":"function","z":"f32a8adb.740038","name":"msg.url = \"sevak\";","func":"msg.url = \"sevak\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["15bc4248.f7407e"]]},{"id":"b8d7ab49.85c6e8","type":"debug","z":"f32a8adb.740038","name":"sevak","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":480,"wires":[]},{"id":"e86f23d5.c1f5b","type":"http response","z":"f32a8adb.740038","name":"","statusCode":"","headers":{},"x":970,"y":400,"wires":[]},{"id":"d9d50713.017ac8","type":"template","z":"f32a8adb.740038","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":550,"y":300,"wires":[["fa6dce23.13b5b"]]},{"id":"15bc4248.f7407e","type":"template","z":"f32a8adb.740038","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":390,"y":300,"wires":[["d9d50713.017ac8"]]},{"id":"fe56e864.813f28","type":"http response","z":"f32a8adb.740038","name":"","x":830,"y":300,"wires":[]},{"id":"fa6dce23.13b5b","type":"template","z":"f32a8adb.740038","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Sevak Employment Registration</h2>\n    \n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"First Name\">First Name</label>\n    <input type=\"text\" id=\"First Name\" name=\"First Name\">\n\n    <label for=\"Last Name\">Last Name</label>\n    <input type=\"text\" id=\"Last Name\" name=\"Last Name\">\n    \n    <label for=\"Age\">Age</label>\n    <input type=\"text\" id=\"Age\" name=\"Age\">\n    \n    <label for=\"Phone Number\">Phone Number</label>\n    <input type=\"text\" id=\"Phone Number\" name=\"Phone Number\">\n    \n    \n    <label for=\"Address\">Address</label>\n    <input type=\"text\" id=\"Address\" name=\"Address\">\n    \n    <label for=\"Country\">Country</label>\n    <select id=\"Country\" name=\"Country\">\n      <option value=\"india\">India</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":690,"y":300,"wires":[["fe56e864.813f28"]]},{"id":"c4766d13.eee91","type":"comment","z":"f32a8adb.740038","name":"Login Form","info":"","x":350,"y":260,"wires":[]},{"id":"29e7442.00d88bc","type":"comment","z":"f32a8adb.740038","name":"Inject msg object properties","info":"","x":360,"y":160,"wires":[]},{"id":"7407a966.6b9ed8","type":"json","z":"f32a8adb.740038","name":"","property":"payload","action":"","pretty":false,"x":370,"y":360,"wires":[["42e0cd4a.6e6664"]]},{"id":"1f54a6d4.7b2c99","type":"comment","z":"f32a8adb.740038","name":"Website","info":"","x":130,"y":120,"wires":[]},{"id":"f96cbb24.8595b8","type":"comment","z":"f32a8adb.740038","name":"Form Submission","info":"","x":160,"y":340,"wires":[]},{"id":"42e0cd4a.6e6664","type":"function","z":"f32a8adb.740038","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["f3fd7e7f.e2596"]]},{"id":"8ef6fe6b.66b4a","type":"template","z":"f32a8adb.740038","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":690,"y":440,"wires":[["1e4044c7.79b48b"]]},{"id":"f3fd7e7f.e2596","type":"template","z":"f32a8adb.740038","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":530,"y":440,"wires":[["8ef6fe6b.66b4a"]]},{"id":"1e4044c7.79b48b","type":"template","z":"f32a8adb.740038","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Sevak Employment Registration</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Sevak Employment Registration Completed Successfully.</h2>\n    <button type=\"button\"<h4><a href=\"https://node-red-tmran.eu-gb.mybluemix.net/sevak\">Click to go back.</a></h4></button>\n\n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":830,"y":440,"wires":[["e86f23d5.c1f5b"]]},{"id":"10574dfc.c3abe2","type":"cloudant out","z":"f32a8adb.740038","name":"Sevak db","cloudant":"","database":"historicaldata2","service":"node-red-tmran-cloudant-1589721972621","payonly":true,"operation":"insert","x":320,"y":420,"wires":[]}]