Sevak_doc/Code/Flows/CO_fall.json
[{"id":"e0fada89.bf0b48","type":"tab","label":"CO and Fall detection and Emergency Button","disabled":false,"info":""},{"id":"ba861ba9.9211e8","type":"debug","z":"e0fada89.bf0b48","name":"msg with values","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":20,"wires":[]},{"id":"a86b4bc7.6416a8","type":"change","z":"e0fada89.bf0b48","name":"co ratio","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.co","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":60,"wires":[["eff5e4a6.4d8c48","5b3a181f.a25b78"]]},{"id":"1480300d.c6524","type":"change","z":"e0fada89.bf0b48","name":"CO_ppm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.CO_ppm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":100,"wires":[["fde5bfc7.26e14","65653d94.698524"]]},{"id":"eff5e4a6.4d8c48","type":"ui_chart","z":"e0fada89.bf0b48","name":"co ratio plot","group":"8d62c70b.eec938","order":2,"width":0,"height":0,"label":"Recent History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f906d0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":60,"wires":[[]]},{"id":"8b204851.07f428","type":"switch","z":"e0fada89.bf0b48","name":"Warn on High values of CO_ppm","property":"payload.d.CO_ppm","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":340,"wires":[["6aee715b.396cc"]]},{"id":"6aee715b.396cc","type":"template","z":"e0fada89.bf0b48","name":"Alert on High Values of CO_ppm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value of CO in ppm Detected ={{payload.d.CO_ppm}}","output":"str","x":630,"y":340,"wires":[["2969dd92.25bee2","b13e5722.83f178","92f7ae71.89d68"]]},{"id":"2969dd92.25bee2","type":"ui_toast","z":"e0fada89.bf0b48","position":"prompt","displayTime":"","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":870,"y":300,"wires":[[]]},{"id":"aaaacfd2.afdad","type":"change","z":"e0fada89.bf0b48","name":"Amplitude vector","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AM","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["834f39fb.695798"]]},{"id":"e353fec1.3e069","type":"change","z":"e0fada89.bf0b48","name":"Fall_Detected","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.fall","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["4097b905.085738","726b2438.d4a8dc"]]},{"id":"664df060.037d2","type":"change","z":"e0fada89.bf0b48","name":"Emergency Button State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.button","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":280,"wires":[["6db6d53c.f6373c"]]},{"id":"48099c0a.cd1d64","type":"switch","z":"e0fada89.bf0b48","name":"Warn if fall detected","property":"payload.d.fall","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":380,"wires":[["496f2400.7f446c"]]},{"id":"496f2400.7f446c","type":"template","z":"e0fada89.bf0b48","name":"Alert on Fall","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : The person has fallen. Immediate Attention needed.","output":"str","x":570,"y":380,"wires":[["2aba8458.8dbb7c","a127e4a0.511458"]]},{"id":"2aba8458.8dbb7c","type":"ui_toast","z":"e0fada89.bf0b48","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":850,"y":380,"wires":[[]]},{"id":"6618f60c.34a788","type":"ui_toast","z":"e0fada89.bf0b48","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":850,"y":460,"wires":[[]]},{"id":"17fb94b7.9b85ab","type":"switch","z":"e0fada89.bf0b48","name":"Warn if pressed Emergency Button","property":"payload.d.button","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":420,"wires":[["41bc5a61.7c43f4"]]},{"id":"41bc5a61.7c43f4","type":"template","z":"e0fada89.bf0b48","name":"Alert on Emergency Button","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : The person pressed emergency button.Help needed.","output":"str","x":620,"y":420,"wires":[["6618f60c.34a788","cc10692b.2c7f58"]]},{"id":"f5745746.71f0e8","type":"function","z":"e0fada89.bf0b48","name":"Format Time Series DB record","func":"msg.payload = {\n        time:     new Date().getTime(),\n        deviceId : msg.payload.d.deviceId,\n        CO_ratio:     msg.payload.d.co,\n        CO_ppm:     msg.payload.d.CO_ppm,\n        FallDetected:     msg.payload.d.fall,\n        ButtonState:     msg.payload.d.button,\n        AmplitudeVector: msg.payload.d.AM\n    } ;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":500,"wires":[["cf99f0f6.d3b52","65e06cbe.b5cc24"]]},{"id":"cf99f0f6.d3b52","type":"debug","z":"e0fada89.bf0b48","name":"Function debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":480,"wires":[]},{"id":"65e06cbe.b5cc24","type":"cloudant out","z":"e0fada89.bf0b48","name":"Sevak Database","cloudant":"","database":"ordered_db","service":"node-red-kkhis-cloudant-1589315652695","payonly":true,"operation":"insert","x":560,"y":520,"wires":[]},{"id":"92f7ae71.89d68","type":"twilio out","z":"e0fada89.bf0b48","twilio":"bca5b5b4.05fa18","twilioType":"sms","url":"","number":"+918921335867","name":"Sms alert to admin","x":890,"y":260,"wires":[]},{"id":"16d3af07.598911","type":"http in","z":"e0fada89.bf0b48","name":"","url":"/sevak","method":"get","upload":false,"swaggerDoc":"","x":130,"y":640,"wires":[["c00cc1e.3f4bb4"]]},{"id":"1476c40c.5d954c","type":"http in","z":"e0fada89.bf0b48","name":"","url":"/sevak","method":"post","upload":false,"swaggerDoc":"","x":110,"y":820,"wires":[["2d83766c.bd610a","b82a61eb.6946b","56754915.c24c58"]]},{"id":"c00cc1e.3f4bb4","type":"function","z":"e0fada89.bf0b48","name":"msg.url = \"sevak\";","func":"msg.url = \"sevak\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":640,"wires":[["3f655f06.4bf9b"]]},{"id":"2d83766c.bd610a","type":"debug","z":"e0fada89.bf0b48","name":"sevak","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":920,"wires":[]},{"id":"9aaa7f76.b9011","type":"http response","z":"e0fada89.bf0b48","name":"","statusCode":"","headers":{},"x":950,"y":840,"wires":[]},{"id":"270ad121.1ffc3e","type":"template","z":"e0fada89.bf0b48","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":690,"y":640,"wires":[["cf69375d.aacb18"]]},{"id":"3f655f06.4bf9b","type":"template","z":"e0fada89.bf0b48","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":550,"y":640,"wires":[["270ad121.1ffc3e"]]},{"id":"5eb1428e.5ecfdc","type":"http response","z":"e0fada89.bf0b48","name":"","statusCode":"","headers":{},"x":930,"y":640,"wires":[]},{"id":"cf69375d.aacb18","type":"template","z":"e0fada89.bf0b48","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Sevak Employment Registration</h2>\n    \n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"First Name\">First Name</label>\n    <input type=\"text\" id=\"First Name\" name=\"First Name\">\n\n    <label for=\"Last Name\">Last Name</label>\n    <input type=\"text\" id=\"Last Name\" name=\"Last Name\">\n    \n    <label for=\"Age\">Age</label>\n    <input type=\"text\" id=\"Age\" name=\"Age\">\n    \n    <label for=\"Phone Number\">Phone Number</label>\n    <input type=\"text\" id=\"Phone Number\" name=\"Phone Number\">\n    \n    \n    <label for=\"Address\">Address</label>\n    <input type=\"text\" id=\"Address\" name=\"Address\">\n    \n    <label for=\"Country\">Country</label>\n    <select id=\"Country\" name=\"Country\">\n      <option value=\"india\">India</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":810,"y":640,"wires":[["5eb1428e.5ecfdc"]]},{"id":"dfae029d.0cd12","type":"comment","z":"e0fada89.bf0b48","name":"Login Form","info":"","x":330,"y":700,"wires":[]},{"id":"9214fd06.156c2","type":"comment","z":"e0fada89.bf0b48","name":"Inject msg object properties","info":"","x":340,"y":600,"wires":[]},{"id":"b82a61eb.6946b","type":"json","z":"e0fada89.bf0b48","name":"","property":"payload","action":"","pretty":false,"x":310,"y":820,"wires":[["e6ee844f.f49188"]]},{"id":"2f9bca0c.1aebd6","type":"comment","z":"e0fada89.bf0b48","name":"Website","info":"","x":110,"y":560,"wires":[]},{"id":"ee98eef2.63849","type":"comment","z":"e0fada89.bf0b48","name":"Form Submission","info":"","x":140,"y":780,"wires":[]},{"id":"e6ee844f.f49188","type":"function","z":"e0fada89.bf0b48","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":820,"wires":[["e1595325.ec8a"]]},{"id":"95511f3a.b991e","type":"template","z":"e0fada89.bf0b48","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":670,"y":880,"wires":[["3da01494.13254c"]]},{"id":"e1595325.ec8a","type":"template","z":"e0fada89.bf0b48","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":510,"y":880,"wires":[["95511f3a.b991e"]]},{"id":"3da01494.13254c","type":"template","z":"e0fada89.bf0b48","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Sevak Employment Registration</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Sevak Employment Registration Completed Successfully.</h2>\n    <button type=\"button\"<h4><a href=\"https://node-red-tmran.eu-gb.mybluemix.net/sevak\">Click to go back.</a></h4></button>\n\n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":810,"y":880,"wires":[["9aaa7f76.b9011"]]},{"id":"56754915.c24c58","type":"cloudant out","z":"e0fada89.bf0b48","name":"Sevak db","cloudant":"","database":"employee_data_db","service":"node-red-kkhis-cloudant-1589315652695","payonly":true,"operation":"insert","x":300,"y":860,"wires":[]},{"id":"5b3a181f.a25b78","type":"ui_gauge","z":"e0fada89.bf0b48","name":"","group":"8d62c70b.eec938","order":5,"width":0,"height":0,"gtype":"donut","title":"CO Ratio","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":20,"wires":[]},{"id":"7afc455f.b1ad5c","type":"function","z":"e0fada89.bf0b48","name":"retrieve data","func":" msg.payload.time = new Date().getTime();\n msg.payload.deviceId = msg.deviceId;\n return msg;","outputs":1,"noerr":0,"x":250,"y":560,"wires":[["89aada4.3f8e128"]]},{"id":"89aada4.3f8e128","type":"cloudant out","z":"e0fada89.bf0b48","name":"to_watson","cloudant":"","database":"unordered_database","service":"node-red-kkhis-cloudant-1589315652695","payonly":true,"operation":"insert","x":570,"y":560,"wires":[]},{"id":"b79fb026.3550e","type":"ibmiot in","z":"e0fada89.bf0b48","authentication":"apiKey","apiKey":"6c6dc64d.47e288","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":70,"y":120,"wires":[["ba861ba9.9211e8","a86b4bc7.6416a8","1480300d.c6524","aaaacfd2.afdad","e353fec1.3e069","664df060.037d2","8b204851.07f428","48099c0a.cd1d64","17fb94b7.9b85ab","f5745746.71f0e8","7afc455f.b1ad5c"]]},{"id":"dd73276c.5b9c58","type":"function","z":"e0fada89.bf0b48","name":"send data frm db to watson iot","func":"var msgs = [];\nfor (var i =0;i< msg.payload.length;i++){\n    msgs.push({payload: msg.payload[i]});\n    return{payload:msgs[0].payload.d};\n}\n\n","outputs":1,"noerr":0,"x":610,"y":1040,"wires":[["bb543ca7.be9a4","8c255400.514ab"]]},{"id":"359b98f4.e3dc08","type":"inject","z":"e0fada89.bf0b48","name":"send","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1040,"wires":[["c89fee8c.d77b3"]]},{"id":"bb543ca7.be9a4","type":"wiotp out","z":"e0fada89.bf0b48","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"784204c8.d415dc","deviceType":"","deviceId":"","event":"sensor data","format":"json","qos":"0","name":"","x":890,"y":1040,"wires":[]},{"id":"c89fee8c.d77b3","type":"cloudant in","z":"e0fada89.bf0b48","name":"","cloudant":"54a026db.d16c38","database":"unordered_database","service":"node-red-kkhis-cloudant-1589315652695","search":"_all_","design":"","index":"","x":320,"y":1040,"wires":[["dd73276c.5b9c58"]]},{"id":"8c255400.514ab","type":"debug","z":"e0fada89.bf0b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1100,"wires":[]},{"id":"fde5bfc7.26e14","type":"ui_chart","z":"e0fada89.bf0b48","name":"","group":"6ab8b536.d6b67c","order":1,"width":0,"height":0,"label":"Recent History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":140,"wires":[[]]},{"id":"65653d94.698524","type":"ui_gauge","z":"e0fada89.bf0b48","name":"","group":"6ab8b536.d6b67c","order":3,"width":0,"height":0,"gtype":"compass","title":"CO","label":"ppm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":100,"wires":[]},{"id":"834f39fb.695798","type":"ui_chart","z":"e0fada89.bf0b48","name":"","group":"a79b62c2.b11c5","order":0,"width":0,"height":0,"label":"Amplitude Vector","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":180,"wires":[[]]},{"id":"4097b905.085738","type":"ui_gauge","z":"e0fada89.bf0b48","name":"","group":"a79b62c2.b11c5","order":1,"width":0,"height":0,"gtype":"gage","title":"Fall Detection State","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":240,"wires":[]},{"id":"6db6d53c.f6373c","type":"ui_gauge","z":"e0fada89.bf0b48","name":"","group":"7af158f9.cb7e28","order":0,"width":0,"height":0,"gtype":"gage","title":"Emergency Button State","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":280,"wires":[]},{"id":"cc10692b.2c7f58","type":"ui_audio","z":"e0fada89.bf0b48","name":"","group":"7af158f9.cb7e28","voice":"en-US","always":true,"x":860,"y":500,"wires":[]},{"id":"a127e4a0.511458","type":"ui_audio","z":"e0fada89.bf0b48","name":"","group":"cde8ca6b.1fbdc8","voice":"en-US","always":true,"x":840,"y":420,"wires":[]},{"id":"b13e5722.83f178","type":"ui_audio","z":"e0fada89.bf0b48","name":"","group":"6ab8b536.d6b67c","voice":"en-US","always":true,"x":860,"y":340,"wires":[]},{"id":"726b2438.d4a8dc","type":"ui_chart","z":"e0fada89.bf0b48","name":"Fall Detection State","group":"a79b62c2.b11c5","order":2,"width":0,"height":0,"label":"Fall Detection State","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":200,"wires":[[]]},{"id":"8d62c70b.eec938","type":"ui_group","z":"","name":"CO ratio","tab":"9f4b55c8.60b568","order":2,"disp":true,"width":"6","collapse":false},{"id":"bca5b5b4.05fa18","type":"twilio-api","z":"","name":"Sms alert to admin","sid":"AC9fe81c78c5eade72a20287d6d9eaeeb0","from":"+12059226844"},{"id":"6c6dc64d.47e288","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"3vrxae.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"784204c8.d415dc","type":"wiotp-credentials","z":"","name":"","org":"3vrxae","serverName":"3vrxae.messaging.internetofthings.ibmcloud.com","devType":"esp8266","devId":"dev02","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"54a026db.d16c38","type":"cloudant","z":"","host":"https://16ad429e-9d49-4534-afa9-7955a9981991-bluemix:b95ca428fb2cd18ae9106e393f14eb7c45d82fd58bb53c5a04f821607b0e268e@16ad429e-9d49-4534-afa9-7955a9981991-bluemix.cloudant.com","name":"cloudant-xh"},{"id":"6ab8b536.d6b67c","type":"ui_group","z":"","name":"CO in parts per million ","tab":"9f4b55c8.60b568","order":1,"disp":true,"width":"6","collapse":false},{"id":"a79b62c2.b11c5","type":"ui_group","z":"","name":"Fall Detection ","tab":"444ff321.ad606c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7af158f9.cb7e28","type":"ui_group","z":"","name":"Emergency Button ","tab":"453338c7.6186d8","order":1,"disp":true,"width":"18","collapse":false},{"id":"cde8ca6b.1fbdc8","type":"ui_group","z":"","name":"Fall Detection Audio","tab":"f60734b.022fcc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f4b55c8.60b568","type":"ui_tab","z":"","name":"CO concentration","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"444ff321.ad606c","type":"ui_tab","z":"","name":"Fall Detection","icon":"dashboard","disabled":false,"hidden":false},{"id":"453338c7.6186d8","type":"ui_tab","z":"","name":"Emergency Button","icon":"dashboard","disabled":false,"hidden":false},{"id":"f60734b.022fcc8","type":"ui_tab","z":"","name":"Fall Detection","icon":"dashboard","disabled":false,"hidden":false}]