Sevak_doc/Code/Flows/obj_detection and gas_sensor.json
[{"id":"9ae9f696.5dc8e8","type":"tab","label":"Plot  Data","disabled":false,"info":""},{"id":"af1ab1bb.15a25","type":"change","z":"9ae9f696.5dc8e8","name":"Chart distance","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.distance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["dde37dbe.ec914","cf63066c.0dc378","92e7e1b4.690f6","f309a064.7bb5b"]]},{"id":"6e242ef1.e4ca2","type":"switch","z":"9ae9f696.5dc8e8","name":"Warn on High Values","property":"payload.d.distance","propertyType":"msg","rules":[{"t":"gt","v":"65","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":200,"wires":[["b6d675fc.c9cea8"]]},{"id":"f309a064.7bb5b","type":"ui_chart","z":"9ae9f696.5dc8e8","name":"","group":"8358050a.5895e8","order":1,"width":"0","height":"0","label":"distance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":80,"wires":[[]]},{"id":"25e8d372.643dbc","type":"ui_toast","z":"9ae9f696.5dc8e8","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":820,"y":200,"wires":[]},{"id":"276e95e3.f7ac7a","type":"ibmiot in","z":"9ae9f696.5dc8e8","authentication":"apiKey","apiKey":"6c6dc64d.47e288","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev03","applicationId":"","deviceType":"ESP8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":320,"wires":[["af1ab1bb.15a25","6e242ef1.e4ca2","3aff9139.de2d6e","de4f631b.62c2f","3e417e79.d60c52","1e3c6462.05bf6c"]]},{"id":"dde37dbe.ec914","type":"ui_gauge","z":"9ae9f696.5dc8e8","name":"","group":"8358050a.5895e8","order":0,"width":"6","height":"6","gtype":"gage","title":"gauge","label":"cm","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":630,"y":120,"wires":[]},{"id":"cf63066c.0dc378","type":"ui_gauge","z":"9ae9f696.5dc8e8","name":"","group":"8358050a.5895e8","order":0,"width":"6","height":"6","gtype":"donut","title":"gauge","label":"cm","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":630,"y":160,"wires":[]},{"id":"3aff9139.de2d6e","type":"change","z":"9ae9f696.5dc8e8","name":"Chart concentration","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.gas","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":300,"wires":[["97b1e0e6.6b0f7","e83a7b43.a17e48","cb9fc168.5d2aa"]]},{"id":"de4f631b.62c2f","type":"switch","z":"9ae9f696.5dc8e8","name":"Warn on High Values","property":"payload.d.gas","propertyType":"msg","rules":[{"t":"gt","v":"5.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":360,"wires":[["8a4cb6b9.c7ed28"]]},{"id":"97b1e0e6.6b0f7","type":"ui_chart","z":"9ae9f696.5dc8e8","name":"","group":"892b31e9.6b525","order":1,"width":"0","height":"0","label":"gas conc","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"4","ymax":"8","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":240,"wires":[[]]},{"id":"e83a7b43.a17e48","type":"ui_gauge","z":"9ae9f696.5dc8e8","name":"","group":"892b31e9.6b525","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppb","format":"{{value}}","min":"0","max":"8","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":280,"wires":[]},{"id":"cb9fc168.5d2aa","type":"ui_gauge","z":"9ae9f696.5dc8e8","name":"","group":"892b31e9.6b525","order":0,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"units","format":"{{value}}","min":"0","max":"8","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":320,"wires":[]},{"id":"745a4d88.06ab24","type":"ui_toast","z":"9ae9f696.5dc8e8","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":820,"y":380,"wires":[]},{"id":"3e417e79.d60c52","type":"change","z":"9ae9f696.5dc8e8","name":"Chart ratio","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.ratio","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":440,"wires":[["7432627c.deb69c","f3b9ef73.a1f2b","bb2fec79.8d152"]]},{"id":"7432627c.deb69c","type":"ui_chart","z":"9ae9f696.5dc8e8","name":"","group":"892b31e9.6b525","order":1,"width":"0","height":"0","label":"gas ratio of ch4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":420,"wires":[[]]},{"id":"f3b9ef73.a1f2b","type":"ui_gauge","z":"9ae9f696.5dc8e8","name":"","group":"892b31e9.6b525","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppb","format":"{{value}}","min":"0","max":"0.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":460,"wires":[]},{"id":"bb2fec79.8d152","type":"ui_gauge","z":"9ae9f696.5dc8e8","name":"","group":"892b31e9.6b525","order":0,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"","format":"{{value}}","min":"0","max":"0.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":500,"wires":[]},{"id":"b6d675fc.c9cea8","type":"template","z":"9ae9f696.5dc8e8","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical distance Detected latitude: {{payload.d.lat}}\nlongitude : {{payload.d.lng}}","output":"str","x":640,"y":200,"wires":[["25e8d372.643dbc","b4e5396.e3a94c8"]]},{"id":"8a4cb6b9.c7ed28","type":"template","z":"9ae9f696.5dc8e8","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical gas conc Detected latitude: {{payload.d.lat}}\nlongitude : {{payload.d.lng}}","output":"str","x":640,"y":360,"wires":[["745a4d88.06ab24","b4e5396.e3a94c8","36afe417.bba2ec"]]},{"id":"92e7e1b4.690f6","type":"debug","z":"9ae9f696.5dc8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":40,"wires":[]},{"id":"36afe417.bba2ec","type":"twilio out","z":"9ae9f696.5dc8e8","twilio":"32489a58.936f86","twilioType":"sms","url":"","number":"+918089778170","name":"","x":790,"y":340,"wires":[]},{"id":"b4e5396.e3a94c8","type":"ui_audio","z":"9ae9f696.5dc8e8","name":"","group":"8358050a.5895e8","voice":"en-US","always":"","x":800,"y":280,"wires":[]},{"id":"1e3c6462.05bf6c","type":"function","z":"9ae9f696.5dc8e8","name":"store data","func":"msg.payload.d = {\n        time:    new Date().getTime(),\n        distance: msg.payload.d.distance,\n        gas:msg.payload.d.gas,\n        ratio:msg.payload.d.ratio,\n        lat:msg.payload.d.lat,\n        lng:msg.payload.d.lng,\n        \n    } ;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":540,"wires":[["22049433.6a865c"]]},{"id":"22049433.6a865c","type":"cloudant out","z":"9ae9f696.5dc8e8","name":"","cloudant":"","database":"device3","service":"node-red-kkhis-cloudant-1589315652695","payonly":true,"operation":"insert","x":640,"y":540,"wires":[]},{"id":"8358050a.5895e8","type":"ui_group","z":"","name":"distance","tab":"bad3d49.4bf3d28","order":1,"disp":true,"width":"14","collapse":false},{"id":"6c6dc64d.47e288","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"3vrxae.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"892b31e9.6b525","type":"ui_group","z":"","name":"conc of gas ch4","tab":"26ad8bcb.bbc3e4","order":1,"disp":true,"width":"14","collapse":false},{"id":"32489a58.936f86","type":"twilio-api","z":"","name":"","sid":"AC1bcfb173073d806e6e1716f329cb2068","from":"+12025195905"},{"id":"bad3d49.4bf3d28","type":"ui_tab","z":"","name":"distance","icon":"dashboard","disabled":false,"hidden":false},{"id":"26ad8bcb.bbc3e4","type":"ui_tab","z":"","name":"gas sensor","icon":"dashboard","disabled":false,"hidden":false}]