Documents related/flow_mpu6050_mq9_emergencybutton_db.json
[{"id":"60d6d66.95b5828","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b629164.66f65","type":"ibmiot in","z":"60d6d66.95b5828","authentication":"apiKey","apiKey":"3e9542c9.53429e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":50,"y":120,"wires":[["50591d9e.f34a34","70620ad.a93f4f4","510f55.a5c5c0ac","329dff6b.d99ba","25233d4d.202fa2","f12957da.7d2528","52c0fd88.317264","a27d221e.18987","cbb1d2f6.daa1a","8a145207.41871"]]},{"id":"a27d221e.18987","type":"debug","z":"60d6d66.95b5828","name":"msg with values","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":20,"wires":[]},{"id":"50591d9e.f34a34","type":"change","z":"60d6d66.95b5828","name":"co ratio","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.co","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":60,"wires":[["ab717277.b7ac3"]]},{"id":"70620ad.a93f4f4","type":"change","z":"60d6d66.95b5828","name":"CO_ppm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.CO_ppm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":100,"wires":[["f984f042.cde5c"]]},{"id":"ab717277.b7ac3","type":"ui_chart","z":"60d6d66.95b5828","name":"co ratio plot","group":"9e2005c7.f44178","order":2,"width":0,"height":0,"label":"co ratio","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":60,"wires":[[]]},{"id":"f984f042.cde5c","type":"ui_chart","z":"60d6d66.95b5828","name":"","group":"9e2005c7.f44178","order":3,"width":0,"height":0,"label":"CO_ppm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":100,"wires":[[]]},{"id":"510f55.a5c5c0ac","type":"switch","z":"60d6d66.95b5828","name":"Warn on High values of CO_ppm","property":"payload.d.CO_ppm","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":300,"wires":[["7df95035.0d18d"]]},{"id":"7df95035.0d18d","type":"template","z":"60d6d66.95b5828","name":"Alert on High Values of CO_ppm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value of CO in ppm Detected {{payload.d.CO_ppm}}","output":"str","x":650,"y":300,"wires":[["d9ec92cc.b4957","1a6ce49f.651abb"]]},{"id":"d9ec92cc.b4957","type":"ui_toast","z":"60d6d66.95b5828","position":"prompt","displayTime":"","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":300,"wires":[[]]},{"id":"329dff6b.d99ba","type":"change","z":"60d6d66.95b5828","name":"Amplitude vector","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AM","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":140,"wires":[["ea8cc1d6.a837a"]]},{"id":"52c0fd88.317264","type":"change","z":"60d6d66.95b5828","name":"Fall_Detected","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.fall","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":180,"wires":[["802d7836.c32fb8"]]},{"id":"f12957da.7d2528","type":"change","z":"60d6d66.95b5828","name":"Emergency Button State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.button","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":220,"wires":[["f64a8b39.dfc4c8"]]},{"id":"ea8cc1d6.a837a","type":"ui_chart","z":"60d6d66.95b5828","name":"Amplitude vector(mpu6050)","group":"9e2005c7.f44178","order":8,"width":0,"height":0,"label":"Amplitude vector(using mpu6050)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":140,"wires":[[]]},{"id":"802d7836.c32fb8","type":"ui_chart","z":"60d6d66.95b5828","name":"Fall_detected(state)","group":"9e2005c7.f44178","order":9,"width":0,"height":0,"label":"Fall Detection State","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":180,"wires":[[]]},{"id":"f64a8b39.dfc4c8","type":"ui_chart","z":"60d6d66.95b5828","name":"Emergency Button State","group":"9e2005c7.f44178","order":0,"width":0,"height":0,"label":"Emergency Button State","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":220,"wires":[[]]},{"id":"25233d4d.202fa2","type":"switch","z":"60d6d66.95b5828","name":"Warn if fall detected","property":"payload.d.fall","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":340,"wires":[["77a0f28e.37734c"]]},{"id":"77a0f28e.37734c","type":"template","z":"60d6d66.95b5828","name":"Alert on Fall","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : The person has fallen Immediate Attention needed. {{payload.d.fall}}","output":"str","x":590,"y":340,"wires":[["20a17ce5.249374"]]},{"id":"20a17ce5.249374","type":"ui_toast","z":"60d6d66.95b5828","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":340,"wires":[[]]},{"id":"9be85656.514138","type":"ui_toast","z":"60d6d66.95b5828","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":380,"wires":[[]]},{"id":"cbb1d2f6.daa1a","type":"switch","z":"60d6d66.95b5828","name":"Warn if pressed Emergency Button","property":"payload.d.button","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":380,"wires":[["f6338a2d.1b8818"]]},{"id":"f6338a2d.1b8818","type":"template","z":"60d6d66.95b5828","name":"Alert on Emergency Button","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : The person pressed emergency button Help needed. {{payload.d.button}}","output":"str","x":640,"y":380,"wires":[["9be85656.514138"]]},{"id":"8a145207.41871","type":"function","z":"60d6d66.95b5828","name":"Format Time Series DB record","func":"msg.payload = {\n        time:     new Date().getTime(),\n        deviceId: msg.payload.d.deviceId,\n        CO_ratio:     msg.payload.d.co,\n        CO_ppm:     msg.payload.d.CO_ppm,\n        FallDetected:     msg.payload.d.fall,\n        ButtonState:     msg.payload.d.button,\n        AmplitudeVector: msg.payload.d.AM\n    } ;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["8e450509.df18f8","1ccf9632.20b6ca"]]},{"id":"8e450509.df18f8","type":"debug","z":"60d6d66.95b5828","name":"Function debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":420,"wires":[]},{"id":"1ccf9632.20b6ca","type":"cloudant out","z":"60d6d66.95b5828","name":"Sevak Database","cloudant":"","database":"historicaldata1","service":"node-red-tmran-cloudant-1589721972621","payonly":true,"operation":"insert","x":580,"y":460,"wires":[]},{"id":"796823.8fcb27dc","type":"twilio out","z":"60d6d66.95b5828","twilio":"69d6e8dd.9ec808","twilioType":"sms","url":"","number":"+918921335867","name":"Sms alert to admin","x":870,"y":260,"wires":[]},{"id":"1a6ce49f.651abb","type":"delay","z":"60d6d66.95b5828","name":"Delay for alert","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":260,"wires":[["796823.8fcb27dc"]]},{"id":"fb776a76.91c8c8","type":"http in","z":"60d6d66.95b5828","name":"","url":"/sevak","method":"get","upload":false,"swaggerDoc":"","x":130,"y":640,"wires":[["90831be2.5f4518"]]},{"id":"9b03a595.e49b18","type":"http in","z":"60d6d66.95b5828","name":"","url":"/sevak","method":"post","upload":false,"swaggerDoc":"","x":130,"y":840,"wires":[["dcd417ae.cc8458","6af5c37d.ba8d9c","70bafcc6.9ae044"]]},{"id":"90831be2.5f4518","type":"function","z":"60d6d66.95b5828","name":"msg.url = \"sevak\";","func":"msg.url = \"sevak\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":640,"wires":[["45b1c371.d5fa1c"]]},{"id":"dcd417ae.cc8458","type":"debug","z":"60d6d66.95b5828","name":"sevak","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":920,"wires":[]},{"id":"73ea7480.06d1dc","type":"http response","z":"60d6d66.95b5828","name":"","statusCode":"","headers":{},"x":950,"y":840,"wires":[]},{"id":"8ed61c44.417a","type":"template","z":"60d6d66.95b5828","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":530,"y":740,"wires":[["3fbb9264.9e5ebe"]]},{"id":"45b1c371.d5fa1c","type":"template","z":"60d6d66.95b5828","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":370,"y":740,"wires":[["8ed61c44.417a"]]},{"id":"4be55b01.b9ddc4","type":"http response","z":"60d6d66.95b5828","name":"","x":810,"y":740,"wires":[]},{"id":"3fbb9264.9e5ebe","type":"template","z":"60d6d66.95b5828","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Sevak Employment Registration</h2>\n    \n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"First Name\">First Name</label>\n    <input type=\"text\" id=\"First Name\" name=\"First Name\">\n\n    <label for=\"Last Name\">Last Name</label>\n    <input type=\"text\" id=\"Last Name\" name=\"Last Name\">\n    \n    <label for=\"Age\">Age</label>\n    <input type=\"text\" id=\"Age\" name=\"Age\">\n    \n    <label for=\"Phone Number\">Phone Number</label>\n    <input type=\"text\" id=\"Phone Number\" name=\"Phone Number\">\n    \n    \n    <label for=\"Address\">Address</label>\n    <input type=\"text\" id=\"Address\" name=\"Address\">\n    \n    <label for=\"Country\">Country</label>\n    <select id=\"Country\" name=\"Country\">\n      <option value=\"india\">India</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":670,"y":740,"wires":[["4be55b01.b9ddc4"]]},{"id":"e7d23d27.31ca8","type":"comment","z":"60d6d66.95b5828","name":"Login Form","info":"","x":330,"y":700,"wires":[]},{"id":"33b555d8.8577da","type":"comment","z":"60d6d66.95b5828","name":"Inject msg object properties","info":"","x":340,"y":600,"wires":[]},{"id":"6af5c37d.ba8d9c","type":"json","z":"60d6d66.95b5828","name":"","property":"payload","action":"","pretty":false,"x":350,"y":800,"wires":[["7e6377d7.de3bb8"]]},{"id":"ff77114c.6fdfa","type":"comment","z":"60d6d66.95b5828","name":"Website","info":"","x":110,"y":560,"wires":[]},{"id":"6aba63ff.073bfc","type":"comment","z":"60d6d66.95b5828","name":"Form Submission","info":"","x":140,"y":780,"wires":[]},{"id":"7e6377d7.de3bb8","type":"function","z":"60d6d66.95b5828","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":800,"wires":[["3717ac3e.bfa364"]]},{"id":"578f9287.558a1c","type":"template","z":"60d6d66.95b5828","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":670,"y":880,"wires":[["24a89489.3c8c4c"]]},{"id":"3717ac3e.bfa364","type":"template","z":"60d6d66.95b5828","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":510,"y":880,"wires":[["578f9287.558a1c"]]},{"id":"24a89489.3c8c4c","type":"template","z":"60d6d66.95b5828","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Sevak Employment Registration</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Sevak Employment Registration Completed Successfully.</h2>\n    <button type=\"button\"<h4><a href=\"https://node-red-tmran.eu-gb.mybluemix.net/sevak\">Click to go back.</a></h4></button>\n\n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":810,"y":880,"wires":[["73ea7480.06d1dc"]]},{"id":"70bafcc6.9ae044","type":"cloudant out","z":"60d6d66.95b5828","name":"Sevak db","cloudant":"","database":"historicaldata2","service":"node-red-tmran-cloudant-1589721972621","payonly":true,"operation":"insert","x":300,"y":860,"wires":[]},{"id":"3e9542c9.53429e","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"f0y8bo.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9e2005c7.f44178","type":"ui_group","z":"","name":"MQ9","tab":"f39b468a.cf02e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"69d6e8dd.9ec808","type":"twilio-api","z":"","name":"Sms alert to admin","sid":"AC9fe81c78c5eade72a20287d6d9eaeeb0","from":"+12059226844"},{"id":"f39b468a.cf02e8","type":"ui_tab","z":"","name":"ESP8266","icon":"dashboard","disabled":false,"hidden":false}]