Sevak_doc/co_ppm.json
[{"id":"ee8e50e4.f7ca","type":"tab","label":"CO and Fall detection and Emergency Button","disabled":false,"info":""},{"id":"2da013a6.42c42c","type":"debug","z":"ee8e50e4.f7ca","name":"msg with values","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":20,"wires":[]},{"id":"93598921.5a4808","type":"change","z":"ee8e50e4.f7ca","name":"co ratio","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.co","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":60,"wires":[["5494338f.aa900c","38b47beb.fdc584"]]},{"id":"b2617d.9696de8","type":"change","z":"ee8e50e4.f7ca","name":"CO_ppm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.CO_ppm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":100,"wires":[["d329c80e.bc8d88","bd1362ab.7e715"]]},{"id":"5494338f.aa900c","type":"ui_chart","z":"ee8e50e4.f7ca","name":"co ratio plot","group":"279c9401.b3082c","order":2,"width":0,"height":0,"label":"Recent History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f906d0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":60,"wires":[[]]},{"id":"dbf1b51f.d3aa18","type":"switch","z":"ee8e50e4.f7ca","name":"Warn on High values of CO_ppm","property":"payload.d.CO_ppm","propertyType":"msg","rules":[{"t":"gte","v":"3.05","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":480,"wires":[["1be1ad29.ecf6c3"]]},{"id":"1be1ad29.ecf6c3","type":"template","z":"ee8e50e4.f7ca","name":"Alert on High Values of CO_ppm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value of CO in ppm Detected ={{payload.d.CO_ppm}}","output":"str","x":610,"y":480,"wires":[["e91ae252.2c19f","4003cb90.1f0804","3c2e46db.93299a"]]},{"id":"e91ae252.2c19f","type":"ui_toast","z":"ee8e50e4.f7ca","position":"prompt","displayTime":"","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":420,"wires":[[]]},{"id":"d595119c.5bd88","type":"change","z":"ee8e50e4.f7ca","name":"Amplitude vector","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AM","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":160,"wires":[["bccde7a5.4db5a8"]]},{"id":"f4b3686e.10d228","type":"switch","z":"ee8e50e4.f7ca","name":"Warn if fall detected","property":"payload.d.AM","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":520,"wires":[["cf40e07a.4a956"]]},{"id":"cf40e07a.4a956","type":"template","z":"ee8e50e4.f7ca","name":"Alert on Fall","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : The person has fallen. Immediate Attention needed.","output":"str","x":470,"y":520,"wires":[["e6b757ba.a2cd68","10e85ab7.1eea15"]]},{"id":"e6b757ba.a2cd68","type":"ui_toast","z":"ee8e50e4.f7ca","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":500,"wires":[[]]},{"id":"3a1dc5e4.bb918a","type":"switch","z":"ee8e50e4.f7ca","name":"Warn if pressed Emergency Button","property":"payload.d.button","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":600,"wires":[["60ee52ef.e68afc"]]},{"id":"60ee52ef.e68afc","type":"template","z":"ee8e50e4.f7ca","name":"Alert on Emergency Button","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : The person pressed emergency button.Help needed.","output":"str","x":600,"y":580,"wires":[["97445706.7939b8","f4b8c963.d3f7f8"]]},{"id":"3c2e46db.93299a","type":"twilio out","z":"ee8e50e4.f7ca","twilio":"40f85294.d63abc","twilioType":"sms","url":"","number":"+918921335867","name":"Sms alert to admin","x":850,"y":380,"wires":[]},{"id":"9ccdb09.6e9dc5","type":"http in","z":"ee8e50e4.f7ca","name":"","url":"/sevak","method":"get","upload":false,"swaggerDoc":"","x":110,"y":900,"wires":[["c7485576.292c18"]]},{"id":"747c8a83.c79eb4","type":"http in","z":"ee8e50e4.f7ca","name":"","url":"/sevak","method":"post","upload":false,"swaggerDoc":"","x":90,"y":1120,"wires":[["adfc2c3d.e3589","10f08d88.1d1e92","9a10af1d.d90e1"]]},{"id":"c7485576.292c18","type":"function","z":"ee8e50e4.f7ca","name":"msg.url = \"sevak\";","func":"msg.url = \"sevak\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":900,"wires":[["d6a40303.e355b"]]},{"id":"adfc2c3d.e3589","type":"debug","z":"ee8e50e4.f7ca","name":"sevak","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":230,"y":1160,"wires":[]},{"id":"bf5fd7ac.17d748","type":"http response","z":"ee8e50e4.f7ca","name":"","statusCode":"","headers":{},"x":890,"y":1140,"wires":[]},{"id":"e82703f5.21bb3","type":"template","z":"ee8e50e4.f7ca","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":630,"y":900,"wires":[["624f5396.951d4c"]]},{"id":"d6a40303.e355b","type":"template","z":"ee8e50e4.f7ca","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":470,"y":900,"wires":[["e82703f5.21bb3"]]},{"id":"7e10b281.a9494c","type":"http response","z":"ee8e50e4.f7ca","name":"","statusCode":"","headers":{},"x":910,"y":900,"wires":[]},{"id":"624f5396.951d4c","type":"template","z":"ee8e50e4.f7ca","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Sevak Employment Registration</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Sevak Employment Registration</h2>\n    \n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"First Name\">First Name</label>\n    <input type=\"text\" id=\"First Name\" name=\"First Name\">\n\n    <label for=\"Last Name\">Last Name</label>\n    <input type=\"text\" id=\"Last Name\" name=\"Last Name\">\n    \n    <label for=\"Age\">Age</label>\n    <input type=\"text\" id=\"Age\" name=\"Age\">\n    \n    <label for=\"Phone Number\">Phone Number</label>\n    <input type=\"text\" id=\"Phone Number\" name=\"Phone Number\">\n    \n    \n    <label for=\"Address\">Address</label>\n    <input type=\"text\" id=\"Address\" name=\"Address\">\n    \n    <label for=\"Country\">Country</label>\n    <select id=\"Country\" name=\"Country\">\n      <option value=\"india\">India</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":770,"y":900,"wires":[["7e10b281.a9494c"]]},{"id":"10f08d88.1d1e92","type":"json","z":"ee8e50e4.f7ca","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1080,"wires":[["4a0e2bf4.da1e64"]]},{"id":"6fce3942.6950d8","type":"comment","z":"ee8e50e4.f7ca","name":"Form Submission","info":"","x":100,"y":1020,"wires":[]},{"id":"4a0e2bf4.da1e64","type":"function","z":"ee8e50e4.f7ca","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1080,"wires":[["4396a57f.62651c"]]},{"id":"b6ca0d26.5d50b","type":"template","z":"ee8e50e4.f7ca","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":770,"y":1080,"wires":[["573f8f45.6f7bb"]]},{"id":"4396a57f.62651c","type":"template","z":"ee8e50e4.f7ca","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":630,"y":1080,"wires":[["b6ca0d26.5d50b"]]},{"id":"573f8f45.6f7bb","type":"template","z":"ee8e50e4.f7ca","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Sevak Employment Registration</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Sevak Employment Registration Completed Successfully.</h2>\n    <button type=\"button\"<h4><a href=\"https://node-red-tmran.eu-gb.mybluemix.net/sevak\">Click to go back.</a></h4></button>\n\n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":890,"y":1080,"wires":[["bf5fd7ac.17d748"]]},{"id":"9a10af1d.d90e1","type":"cloudant out","z":"ee8e50e4.f7ca","name":"Sevak db","cloudant":"","database":"employee_data_db","service":"node-red-kkhis-cloudant-1589315652695","payonly":true,"operation":"insert","x":240,"y":1120,"wires":[]},{"id":"38b47beb.fdc584","type":"ui_gauge","z":"ee8e50e4.f7ca","name":"","group":"279c9401.b3082c","order":5,"width":0,"height":0,"gtype":"donut","title":"CO Ratio","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":20,"wires":[]},{"id":"bea2d238.4e0c5","type":"function","z":"ee8e50e4.f7ca","name":"retrieve data","func":" msg.payload.time = new Date().getTime();\n msg.payload.deviceId = msg.deviceId;\n return msg;","outputs":1,"noerr":0,"x":230,"y":680,"wires":[["6a47a7d9.3852a8"]]},{"id":"6a47a7d9.3852a8","type":"cloudant out","z":"ee8e50e4.f7ca","name":"to_watson","cloudant":"","database":"dev02_unordered_db","service":"node-red-kkhis-cloudant-1589315652695","payonly":true,"operation":"insert","x":410,"y":680,"wires":[]},{"id":"2585d3e3.9c12fc","type":"ibmiot in","z":"ee8e50e4.f7ca","authentication":"apiKey","apiKey":"89cb4eed.09df8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev02","applicationId":"","deviceType":"esp8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":70,"y":300,"wires":[["2da013a6.42c42c","93598921.5a4808","b2617d.9696de8","d595119c.5bd88","dbf1b51f.d3aa18","f4b3686e.10d228","3a1dc5e4.bb918a"]]},{"id":"7f125c62.210d04","type":"function","z":"ee8e50e4.f7ca","name":"send data frm db to watson iot","func":"var msgs = [];\nfor (var i =0;i< msg.payload.length;i++){\n    msgs.push({payload: msg.payload[i]});\n    //return({payload: msg.payload[0].d});\n    //return{payload:msgs[0].payload.d};\n   \n}\nreturn [msgs];\n","outputs":1,"noerr":0,"x":590,"y":1280,"wires":[["608b85d6.57fc6c","690f20cf.fab43"]]},{"id":"f545df5f.afb53","type":"inject","z":"ee8e50e4.f7ca","name":"send","topic":"","payload":"","payloadType":"date","repeat":"240","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1280,"wires":[["6e3543f8.8871bc"]]},{"id":"608b85d6.57fc6c","type":"wiotp out","z":"ee8e50e4.f7ca","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"637f1f96.6b3dc","deviceType":"","deviceId":"","event":"sensor data","format":"json","qos":"0","name":"","x":850,"y":1240,"wires":[]},{"id":"6e3543f8.8871bc","type":"cloudant in","z":"ee8e50e4.f7ca","name":"","cloudant":"b08d796d.4560a8","database":"dev02_unordered_db","service":"node-red-kkhis-cloudant-1589315652695","search":"_all_","design":"","index":"","x":320,"y":1280,"wires":[["7f125c62.210d04"]]},{"id":"690f20cf.fab43","type":"debug","z":"ee8e50e4.f7ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":1280,"wires":[]},{"id":"d329c80e.bc8d88","type":"ui_gauge","z":"ee8e50e4.f7ca","name":"","group":"3743090d.61b106","order":3,"width":0,"height":0,"gtype":"compass","title":"CO","label":"ppm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":100,"wires":[]},{"id":"bccde7a5.4db5a8","type":"ui_chart","z":"ee8e50e4.f7ca","name":"","group":"8738a62d.d309b8","order":2,"width":0,"height":0,"label":"Amplitude Vector","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":180,"wires":[[]]},{"id":"97445706.7939b8","type":"ui_audio","z":"ee8e50e4.f7ca","name":"","group":"3743090d.61b106","voice":"en-US","always":true,"x":820,"y":580,"wires":[]},{"id":"10e85ab7.1eea15","type":"ui_audio","z":"ee8e50e4.f7ca","name":"","group":"8738a62d.d309b8","voice":"en-US","always":true,"x":820,"y":540,"wires":[]},{"id":"4003cb90.1f0804","type":"ui_audio","z":"ee8e50e4.f7ca","name":"","group":"3743090d.61b106","voice":"en-US","always":true,"x":820,"y":460,"wires":[]},{"id":"f4b8c963.d3f7f8","type":"ui_toast","z":"ee8e50e4.f7ca","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":620,"wires":[[]]},{"id":"bd1362ab.7e715","type":"ui_chart","z":"ee8e50e4.f7ca","name":"","group":"3743090d.61b106","order":2,"width":0,"height":0,"label":"CO in ppm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00d9ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":140,"wires":[[]]},{"id":"279c9401.b3082c","type":"ui_group","z":"","name":"CO ratio","tab":"f1f7792d.3520b8","order":2,"disp":true,"width":"8","collapse":false},{"id":"40f85294.d63abc","type":"twilio-api","z":"","name":"Sms alert to admin","sid":"AC0d537afeba4762328bf0cfadaef5039c","from":"+12029310761"},{"id":"89cb4eed.09df8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"3vrxae.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"637f1f96.6b3dc","type":"wiotp-credentials","z":"","name":"","org":"3vrxae","serverName":"3vrxae.messaging.internetofthings.ibmcloud.com","devType":"esp8266","devId":"dev02","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"b08d796d.4560a8","type":"cloudant","z":"","host":"https://16ad429e-9d49-4534-afa9-7955a9981991-bluemix:b95ca428fb2cd18ae9106e393f14eb7c45d82fd58bb53c5a04f821607b0e268e@16ad429e-9d49-4534-afa9-7955a9981991-bluemix.cloudant.com","name":"cloudant-xh"},{"id":"3743090d.61b106","type":"ui_group","z":"","name":"CO in ppm","tab":"f1f7792d.3520b8","order":1,"disp":true,"width":"8","collapse":false},{"id":"8738a62d.d309b8","type":"ui_group","z":"","name":"State","tab":"6588928e.c720bc","order":1,"disp":false,"width":"6","collapse":false},{"id":"f1f7792d.3520b8","type":"ui_tab","z":"","name":"CO concentration","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6588928e.c720bc","type":"ui_tab","z":"","name":"Fall Detection","icon":"dashboard","order":5,"disabled":false,"hidden":false}]