Sevak_doc/distance.json
[{"id":"cc1087ba.53b118","type":"tab","label":"Distance and Methane Conc","disabled":false,"info":""},{"id":"786dd7c3.b822e8","type":"change","z":"cc1087ba.53b118","name":"Chart distance","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.distance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["9bbae093.0e78b","bb6a66a0.c604d8","423d9ac8.0321a4"]]},{"id":"59f2f27f.e3ceec","type":"switch","z":"cc1087ba.53b118","name":"Warn on High Values","property":"payload.d.distance","propertyType":"msg","rules":[{"t":"gt","v":"65","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":160,"wires":[["5d1e3681.99b308"]]},{"id":"423d9ac8.0321a4","type":"ui_chart","z":"cc1087ba.53b118","name":"","group":"acd7aab7.da1868","order":1,"width":"7","height":"5","label":"distance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":80,"wires":[[]]},{"id":"c3320420.35a888","type":"ui_toast","z":"cc1087ba.53b118","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":810,"y":160,"wires":[[]]},{"id":"11dd9434.fcc29c","type":"ibmiot in","z":"cc1087ba.53b118","authentication":"apiKey","apiKey":"89cb4eed.09df8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev03","applicationId":"","deviceType":"ESP8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":150,"y":320,"wires":[["786dd7c3.b822e8","59f2f27f.e3ceec","ca010881.027158","7b1f3e55.cede1","64f28a33.a95f94"]]},{"id":"9bbae093.0e78b","type":"ui_gauge","z":"cc1087ba.53b118","name":"","group":"acd7aab7.da1868","order":0,"width":"5","height":"5","gtype":"compass","title":"gauge","label":"cm","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":630,"y":120,"wires":[]},{"id":"ca010881.027158","type":"change","z":"cc1087ba.53b118","name":"Chart concentration","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.gas","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["35749f09.a06df","de510320.96b98"]]},{"id":"7b1f3e55.cede1","type":"switch","z":"cc1087ba.53b118","name":"Warn on High Values","property":"payload.d.gas","propertyType":"msg","rules":[{"t":"gt","v":"5.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":320,"wires":[["b634923a.6166f"]]},{"id":"35749f09.a06df","type":"ui_chart","z":"cc1087ba.53b118","name":"","group":"d01fd3e1.07003","order":1,"width":"6","height":"6","label":"gas conc","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"4","ymax":"8","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":200,"wires":[[]]},{"id":"de510320.96b98","type":"ui_gauge","z":"cc1087ba.53b118","name":"","group":"d01fd3e1.07003","order":0,"width":"6","height":"6","gtype":"compass","title":"gauge","label":"ppm","format":"{{value}}","min":"0","max":"8","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"a3249e90.5fc99","type":"ui_toast","z":"cc1087ba.53b118","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":810,"y":340,"wires":[[]]},{"id":"64f28a33.a95f94","type":"change","z":"cc1087ba.53b118","name":"Chart ratio","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.ratio","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":400,"wires":[["eb446c59.38f1a","f6213cf3.3919b"]]},{"id":"eb446c59.38f1a","type":"ui_chart","z":"cc1087ba.53b118","name":"","group":"d01fd3e1.07003","order":1,"width":"6","height":"6","label":"gas ratio of ch4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":380,"wires":[[]]},{"id":"f6213cf3.3919b","type":"ui_gauge","z":"cc1087ba.53b118","name":"","group":"d01fd3e1.07003","order":0,"width":"6","height":"6","gtype":"gage","title":"gauge","label":"ratio CH4","format":"{{value}}","min":"0","max":"0.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":420,"wires":[]},{"id":"5d1e3681.99b308","type":"template","z":"cc1087ba.53b118","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical distance Detected latitude: {{payload.d.lat}}\nlongitude : {{payload.d.lng}}","output":"str","x":640,"y":160,"wires":[["c3320420.35a888","2222139f.08e2bc"]]},{"id":"b634923a.6166f","type":"template","z":"cc1087ba.53b118","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical gas conc Detected latitude: {{payload.d.lat}}\nlongitude : {{payload.d.lng}}","output":"str","x":640,"y":320,"wires":[["a3249e90.5fc99","2222139f.08e2bc","e106b8cf.d93818"]]},{"id":"bb6a66a0.c604d8","type":"debug","z":"cc1087ba.53b118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":40,"wires":[]},{"id":"e106b8cf.d93818","type":"twilio out","z":"cc1087ba.53b118","twilio":"7edfe7c6.529d88","twilioType":"sms","url":"","number":"+918089778170","name":"","x":790,"y":300,"wires":[]},{"id":"2222139f.08e2bc","type":"ui_audio","z":"cc1087ba.53b118","name":"","group":"acd7aab7.da1868","voice":"en-US","always":"","x":800,"y":220,"wires":[]},{"id":"cadc9fc9.d4ad4","type":"function","z":"cc1087ba.53b118","name":"store data","func":"msg.payload.d = {\n        time:    new Date().getTime(),\n        distance: msg.payload.d.distance,\n        gas:msg.payload.d.gas,\n        ratio:msg.payload.d.ratio,\n        lat:msg.payload.d.lat,\n        lng:msg.payload.d.lng,\n        \n    } ;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["194e2be4.4859c4"]]},{"id":"194e2be4.4859c4","type":"cloudant out","z":"cc1087ba.53b118","name":"","cloudant":"","database":"device3","service":"node-red-kkhis-cloudant-1589315652695","payonly":true,"operation":"insert","x":620,"y":480,"wires":[]},{"id":"a99634e6.6671f8","type":"wiotp out","z":"cc1087ba.53b118","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a0fdc0e6.4acbb","deviceType":"","deviceId":"","event":"data to wiot","format":"json","qos":"","name":"distance device","x":820,"y":680,"wires":[]},{"id":"5ed97b99.3a5214","type":"function","z":"cc1087ba.53b118","name":"Format Time Series DB record","func":"msg.payload.d = {\n        time:    new Date().getTime(),\n        distance: msg.payload.d.distance,\n        gas:msg.payload.d.gas,\n        ratio:msg.payload.d.ratio,\n        lat:msg.payload.d.lat,\n        lng:msg.payload.d.lng,\n        \n    } ;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[[]]},{"id":"1404f9c7.839516","type":"cloudant out","z":"cc1087ba.53b118","name":"","cloudant":"","database":"device3","service":"node-red-kkhis-cloudant-1589315652695","payonly":true,"operation":"insert","x":740,"y":600,"wires":[]},{"id":"96ef6db8.cea5a","type":"ibmiot in","z":"cc1087ba.53b118","authentication":"apiKey","apiKey":"89cb4eed.09df8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+ESP8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":600,"wires":[["5ed97b99.3a5214"]]},{"id":"d891f4b5.1bb138","type":"inject","z":"cc1087ba.53b118","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"onceDelay":"10","x":230,"y":760,"wires":[["3166eafe.ff4306"]]},{"id":"3166eafe.ff4306","type":"cloudant in","z":"cc1087ba.53b118","name":"","cloudant":"","database":"device3","service":"node-red-kkhis-cloudant-1589315652695","search":"_all_","design":"","index":"","x":400,"y":760,"wires":[["bfa57049.44dc7"]]},{"id":"d472dca.5347b2","type":"comment","z":"cc1087ba.53b118","name":"to the database","info":"","x":440,"y":640,"wires":[]},{"id":"28a7e629.e3d62a","type":"comment","z":"cc1087ba.53b118","name":"data to the watson iot","info":"","x":440,"y":680,"wires":[]},{"id":"b3809b2d.0d03c8","type":"debug","z":"cc1087ba.53b118","name":"dev03","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":760,"wires":[]},{"id":"bfa57049.44dc7","type":"function","z":"cc1087ba.53b118","name":"get data","func":"var msgs = [];\nfor (var i =0;i< msg.payload.length;i++){\n    msgs.push({payload: msg.payload[i]});\n    //return({payload: msg.payload[0].d});\n    //return{payload:msgs[0].payload.d};\n   \n}\nreturn [msgs];\n","outputs":1,"noerr":0,"x":560,"y":760,"wires":[["b3809b2d.0d03c8","a99634e6.6671f8"]]},{"id":"acd7aab7.da1868","type":"ui_group","z":"","name":"Recent data","tab":"418a1c22.f75f24","order":1,"disp":true,"width":"14","collapse":false},{"id":"89cb4eed.09df8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"3vrxae.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d01fd3e1.07003","type":"ui_group","z":"","name":"Quantity","tab":"80899319.c7755","order":1,"disp":true,"width":"14","collapse":false},{"id":"7edfe7c6.529d88","type":"twilio-api","z":"","name":"sent msg","sid":"AC1bcfb173073d806e6e1716f329cb2068","from":"+12025195905"},{"id":"a0fdc0e6.4acbb","type":"wiotp-credentials","z":"","name":"","org":"3vrxae","serverName":"3vrxae.messaging.internetofthings.ibmcloud.com","devType":"ESP8266","devId":"dev03","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"418a1c22.f75f24","type":"ui_tab","z":"","name":"Distance","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"80899319.c7755","type":"ui_tab","z":"","name":"Methane Concentration","icon":"dashboard","order":2,"disabled":false,"hidden":false}]