Flows/dht22_pulse.json
[{"id":"b56d43f5.00e31","type":"tab","label":"dht 22 and pulse sensor","disabled":false,"info":""},{"id":"1a831a8.5d6d5e6","type":"debug","z":"b56d43f5.00e31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":100,"wires":[]},{"id":"e77080a7.83e0a","type":"change","z":"b56d43f5.00e31","name":"Chart Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["80d5ce6f.16901","34cada66.9cda06"]]},{"id":"5ae16579.186cec","type":"change","z":"b56d43f5.00e31","name":"Chart Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["28f6f062.3795d","84ddfcee.3ff0d"]]},{"id":"98d3984a.eb72f8","type":"switch","z":"b56d43f5.00e31","name":"Warn on High Values","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":300,"wires":[["c2e0e801.e20728"]]},{"id":"c2e0e801.e20728","type":"template","z":"b56d43f5.00e31","name":"Alert Msg","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"Alert : Critical Value Detected {{payload.d.temp}}","output":"str","x":620,"y":300,"wires":[["5c62822d.f0c2bc"]]},{"id":"8e1ecfa8.cd06c","type":"change","z":"b56d43f5.00e31","name":"Heart Pulse","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.heart","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["6232c594.c12c3c"]]},{"id":"80f54398.958f9","type":"switch","z":"b56d43f5.00e31","name":"warn on low BPM","property":"payload.d.heart","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":380,"wires":[["6099aadd.83a9c4"]]},{"id":"6099aadd.83a9c4","type":"template","z":"b56d43f5.00e31","name":"Alert","field":"payload.d.heart","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value Detected {{payload.d.heart}}","output":"str","x":650,"y":380,"wires":[["591d478.7d880b8"]]},{"id":"41f25543.fba5fc","type":"function","z":"b56d43f5.00e31","name":"retrieve data","func":" msg.payload.time = new Date().getTime();\n msg.payload.deviceId = msg.deviceId;\n return msg;","outputs":1,"noerr":0,"x":400,"y":60,"wires":[["6a514697.0b0208"]]},{"id":"6a514697.0b0208","type":"cloudant out","z":"b56d43f5.00e31","name":"store data","cloudant":"","database":"store1","service":"node-red-kkhis-cloudant-1589315652695","payonly":true,"operation":"insert","x":740,"y":60,"wires":[]},{"id":"44d80cdf.b13d74","type":"function","z":"b56d43f5.00e31","name":"send data frm db to watson iot","func":"var msgs = [];\nfor (var i =0;i< msg.payload.length;i++){\n    msgs.push({payload: msg.payload[i]});\n    return{payload:msgs[0].payload.d};\n}\n\n","outputs":1,"noerr":0,"x":550,"y":520,"wires":[["6ee4a8a6.6320e8","d2b5dfad.8e182"]]},{"id":"78d5b8ad.40f5a8","type":"inject","z":"b56d43f5.00e31","name":"send","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["3c8fb9d4.4ee836"]]},{"id":"6ee4a8a6.6320e8","type":"wiotp out","z":"b56d43f5.00e31","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"567e415f.9ce4f","deviceType":"","deviceId":"","event":"sensor data","format":"json","qos":"0","name":"","x":910,"y":520,"wires":[]},{"id":"edc06bf7.f52188","type":"switch","z":"b56d43f5.00e31","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":640,"wires":[["388a0378.24790c","224bc9b1.8b4556"]]},{"id":"388a0378.24790c","type":"function","z":"b56d43f5.00e31","name":"shutdown","func":"msg.payload=JSON.stringify({\"data\":\"Shutdown\"});\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":640,"wires":[["811f3d18.77856","28a8a38d.fcbd0c"]]},{"id":"3c8fb9d4.4ee836","type":"cloudant in","z":"b56d43f5.00e31","name":"","cloudant":"54a026db.d16c38","database":"store1","service":"node-red-kkhis-cloudant-1589315652695","search":"_all_","design":"","index":"","x":290,"y":520,"wires":[["44d80cdf.b13d74"]]},{"id":"d2b5dfad.8e182","type":"debug","z":"b56d43f5.00e31","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":580,"wires":[]},{"id":"28a8a38d.fcbd0c","type":"debug","z":"b56d43f5.00e31","name":"456","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":700,"wires":[]},{"id":"224bc9b1.8b4556","type":"debug","z":"b56d43f5.00e31","name":"123","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":700,"wires":[]},{"id":"811f3d18.77856","type":"ibmiot out","z":"b56d43f5.00e31","authentication":"apiKey","apiKey":"4c3fc8df.ac1bc8","outputType":"cmd","deviceId":"dev01","deviceType":"ESP8266","eventCommandType":"shutdown","format":"json","data":"{\"data\":\"data\"}","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":640,"wires":[]},{"id":"2f0d5319.84df0c","type":"ibmiot in","z":"b56d43f5.00e31","authentication":"apiKey","apiKey":"4c3fc8df.ac1bc8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":110,"y":180,"wires":[["1a831a8.5d6d5e6","e77080a7.83e0a","5ae16579.186cec","98d3984a.eb72f8","8e1ecfa8.cd06c","80f54398.958f9"]]},{"id":"9893746d.6a0748","type":"ui_switch","z":"b56d43f5.00e31","name":"switch off device","label":"Switch off Device","tooltip":"","group":"98686842.276288","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":640,"wires":[["edc06bf7.f52188"]]},{"id":"80d5ce6f.16901","type":"ui_gauge","z":"b56d43f5.00e31","name":"","group":"b8da9258.a9609","order":1,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":630,"y":140,"wires":[]},{"id":"28f6f062.3795d","type":"ui_gauge","z":"b56d43f5.00e31","name":"","group":"e68056b9.7b3e18","order":1,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":220,"wires":[]},{"id":"6232c594.c12c3c","type":"ui_gauge","z":"b56d43f5.00e31","name":"","group":"98686842.276288","order":1,"width":0,"height":0,"gtype":"compass","title":"BPM","label":"BPM","format":"{{value}}","min":"0","max":"200","colors":["#c60f00","#0bdb0b","#4aed14"],"seg1":"80","seg2":"","x":610,"y":340,"wires":[]},{"id":"5c62822d.f0c2bc","type":"ui_toast","z":"b56d43f5.00e31","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":800,"y":300,"wires":[]},{"id":"591d478.7d880b8","type":"ui_toast","z":"b56d43f5.00e31","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":840,"y":380,"wires":[]},{"id":"84ddfcee.3ff0d","type":"ui_chart","z":"b56d43f5.00e31","name":"Level","group":"e68056b9.7b3e18","order":3,"width":0,"height":0,"label":"Recent History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3924ae","#aec7e8","#ff7f0e","#2ca02c","#91f178","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":260,"wires":[[]]},{"id":"34cada66.9cda06","type":"ui_chart","z":"b56d43f5.00e31","name":"","group":"b8da9258.a9609","order":4,"width":0,"height":0,"label":"Recent History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":180,"wires":[[]]},{"id":"567e415f.9ce4f","type":"wiotp-credentials","z":"","name":"","org":"3vrxae","serverName":"3vrxae.messaging.internetofthings.ibmcloud.com","devType":"ESP8266","devId":"dev01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"54a026db.d16c38","type":"cloudant","z":"","host":"https://16ad429e-9d49-4534-afa9-7955a9981991-bluemix:b95ca428fb2cd18ae9106e393f14eb7c45d82fd58bb53c5a04f821607b0e268e@16ad429e-9d49-4534-afa9-7955a9981991-bluemix.cloudant.com","name":"cloudant-xh"},{"id":"4c3fc8df.ac1bc8","type":"ibmiot","z":"","name":"IoT","keepalive":"60","serverName":"3vrxae.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"98686842.276288","type":"ui_group","z":"","name":"Heart Pulse","tab":"bb53479a.b08358","order":1,"disp":true,"width":"6","collapse":false},{"id":"b8da9258.a9609","type":"ui_group","z":"","name":"Temperature","tab":"59aa2ba4.a70cb4","order":1,"disp":true,"width":"6","collapse":false},{"id":"e68056b9.7b3e18","type":"ui_group","z":"","name":"Humidity","tab":"59aa2ba4.a70cb4","order":2,"disp":true,"width":"6","collapse":false},{"id":"bb53479a.b08358","type":"ui_tab","z":"","name":"Pulse Rate","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"59aa2ba4.a70cb4","type":"ui_tab","z":"","name":"Temperature and Humidity","icon":"dashboard","order":3,"disabled":false,"hidden":false}]